Package: com.2Klasic.Fix
Name: CydiaFix
Version: 0.0.1
Architecture: iphoneos-arm
Description: This version is designed to resolve comman issues with cydia. To run this package install mterminal and type apt
Maintainer: @2klasic <2klasic@icloud.com>
Author: @2klasic <2klasic@icloud.com>
Section: Tweaks
Depends: apt, apt7-key, apt7, apt7-lib, coreutils
