<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>themoviedb.com.ios</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>TheMovieDB</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>themoviedb.com.ios</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>magnet</string>
        </array>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>11.3</string>
    <key>CFBundleName</key>
    <string>The Movie DB</string>
    <key>DTSDKName</key>
    <string>iphoneos11.3</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>CFBundleDisplayName</key>
    <string></string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>org-appextension-feature-password-management</string>
      <string>cydia</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Torrent</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.bittorrent.torrent</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
    </array>
    <key>DTSDKBuild</key>
    <string>15E217</string>
    <key>CFBundleShortVersionString</key>
    <string>1.3</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>17E199</string>
    <key>DTPlatformBuild</key>
    <string>15E217</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>The app would like to use microphone</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>The Movie DB</string>
    <key>MinimumOSVersion</key>
    <string>9.0</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>DTXcodeBuild</key>
    <string>9E145</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The app would like to use PhotoLibrary</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.bittorrent.torrent</string>
        <key>UTTypeDescription</key>
        <string>BitTorrent Metadata</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/x-bittorrent</string>
          <key>public.filename-extension</key>
          <array>
            <string>torrent</string>
          </array>
        </dict>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>The app would like to use bluetooth</string>
    <key>CFBundleIdentifier</key>
    <string>themoviedb.com.ios</string>
    <key>DTXcode</key>
    <string>0930</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>The Movie DB</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
          <string>AppIcon50x50</string>
          <string>AppIcon72x72</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>UIMainStoryboardFile</key>
    <string>iOS</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
