Author: John Coates <acapulo1988@gmail.com>
Maintainer: 2Klasic <2Klasic@outlook.com>
Name: Flex
Package: com.2Klasic.flex
Depends: firmware(>= 5.0), mobilesubstrate
Section: Tweak
Version: 1.05
Architecture: iphoneos-arm
Description: Make your own tweaks, easily!





