Package: com.aerialx.ishshit
Name: iSHSHit
Version: 1.2.5.1b
Architecture: iphoneos-arm
Description: Easily backup firmware SHSH blobs “Updated to Support iOS 9 will add more devices in the future”! This is only for 32bit devices currently.
Maintainer: 2Klasic <derobi@icloud.com>
Author: Aaron Lindsay <aaron@aaronlindsay.com>
Section: Utilities
Icon: file:///Applications/iSHSHit.app/Icon.png
dev: aerialx
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=ishshitData
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=ishshitData
