Package: com.aerialx.ishshit
Name: iSHSHit
Version: 1.2.6b
Architecture: iphoneos-arm
Description: Easily backup firmware SHSH blobs!
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Aaron Lindsay <aaron@aaronlindsay.com>
Section: Utilities
Installed-Size: 5819
Icon: file:///Applications/iSHSHit.app/Icon.png
dev: aerialx
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=ishshitData
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=ishshitData
