Package: com.2klasic.xpwn
Name: xPwn
Version: 1.0
Architecture: iphoneos-arm
Description: portable, barebones PwnageTool implementation
Maintainer: Jay Freeman (saurik) <saurik@saurik.com>
Author: planetbeing <planetbeing@gmail.com>
Depends: openssl, png
Pre-Depends: dpkg (>= 1.14.25-8)
Section: Archiving
