Package: xpwn
Priority: optional
Section: Archiving
Installed-Size: 468
Maintainer: Jay Freeman (saurik) <saurik@saurik.com>
Architecture: iphoneos-arm
Version: 1.0
Pre-Depends: dpkg (>= 1.14.25-8)
Depends: openssl, png
Description: portable, barebones PwnageTool implementation
Name: XPwn
Author: planetbeing <planetbeing@gmail.com>
Homepage: http://github.com/planetbeing/xpwn/tree/master
