Package: com.2Klasic.AeroTV
Name: AeroTV
Version: 1.0b8
Architecture: iphoneos-arm
Description: Broadcast Network TV 
Maintainer: @2Klasic <2Klasic@icloud.com>
Author: @AeroTV <2Klasic@icloud.com>
Depends: firmware (>=9.0)
Section: Entertainment
