Package: com.2Klasic.BobbyMovie
Name: Bobby Movie
Version: 2.3.0
Architecture: iphoneos-arm
Description: Enjoy your favorite movies on the go. To keep this site thriving strong ensure you use a VPN
Maintainer: @2Klasic <2Klasic@icloud.com>
Author: @Bobby Movie Team <2Klasic@icloud.com>
Section: Entertainment
