Package: com.2klasic.OwnWritingSquad
Name: Own Writing Squad (iOS10/11)
Depends: com.anemonetheming.anemone
Version: 1.0
Architecture: iphoneos-arm
Description: Clean . For Anemone.
Author: dafont
Maintainer: 2klasic <2klasic@gmail.com>
Section: Anemone Fonts
