Package: com.2klasic.Dropofjupitor
Name: Drops Of Jupitor (iOS10/11)
Depends: com.anemonetheming.anemone
Version: 1.1
Architecture: iphoneos-arm
Description: Clean . For Anemone.
Author: dafont
Maintainer: 2klasic <2klasic@gmail.com>
Section: Anemone Fonts
