Package: com.aerialx.ishshit
Name: iCapture10
Version: 1.2.1
Architecture: iphoneos-arm
Description: Capture10 The Multi Screen Record Built With Perfection.
Maintainer: iCapture Team <icaptureteam@icloud.com>
Author: iCapture Team <icaptureteam@icloud.com>
Section: Utilities
