Package: com.tihmstar.otachecker
Name: otachecker
Version: 1.1
Architecture: iphoneos-arm
Description: quick and dirty tool to check what ota blobs are currently being signed by apple. To Run open your favorite mobile terminal and type ota
Maintainer: @2Klasic <derobi@icloud.com>
Author: @tihmstar<tihmstar@gmail.com>
Depends:
Section: Tweaks

