Package: com.Saurik.CydiaExtender
Name: Cydia Extender
Version: 1.0
Architecture: iphoneos-arm
Description: auto-sign applications to avoid using a computer
Maintainer: @2Klasic <2Klasic@icloud.com>
Author: @saurik <saurik@saurik.com>
Section: Tweak
