Package: net.if0x.cybackup10
Name: CyBackup iOS 10
Version: 0.0.3
Architecture: iphoneos-arm
Description: This version is currently UNTESTED. Backup installed tweaks (atm only main repos) as .debs and make a .zip Backup folder in /. To start type cybkp in MTerminal. Thanks to /u/elsatour for the idea and help. For support follow me on twitter (@if0xxx)
Maintainer: @if0xxx <if0x2080@gmail.com>
Author: @if0xxx <if0x2080@gmail.com>
Depends: firmware (>=9.3), zip, unzip, dpkg, debianutils, apt, apt7-key, apt7, apt7-lib, coreutils
Section: Tweaks

