Package: com.2Klasic.MovieDB
Name: MovieDB
Version: 1.3
Architecture: appletvos-arm64
Description: Download and stream your favorite Movies and TV Shows
Maintainer: @2Klasic <2Klasic@icloud.com>
Author: @MovieDB Team <2Klasic@icloud.com>
Section: Entertainment
